#$f90{?} = mpif90
#$cc{?} = cc
$fflags_opt{?}   = -g -O3 -fallow-argument-mismatch -fcheck=all -Wall -pg -J .
$fflags{?}       = $fflags_opt

$fflags_core{?} = $fflags -frecursive
$fflags_io{?} = $fflags -frecursive
$fflags_psrc{?}  = -O1 -pg -fallow-argument-mismatch -J .
$cflags = 

$fppdefs_debug{?} =  DEBUG_MODE
$fpp_flags{?} = -E -P -traditional

$buoy = BUOY_QV BUOY_QL BUOY_QR BUOY_QI BUOY_QS BUOY_QG BUOY_QAIKT BUOY_QACCSOL BUOY_QACCINSOL BUOY_QCOARSOL BUOY_QCOARDU BUOY_NL BUOY_NR BUOY_NI BUOY_NS BUOY_NG BUOY_NAIKT BUOY_NACCSOL BUOY_NACCINSOL BUOY_NCOARSOL BUOY_NCOARDU

$damp = DAMP_QV DAMP_QL DAMP_QR DAMP_QI DAMP_QS DAMP_QG DAMP_QAIKT DAMP_QACCSOL DAMP_QACCINSOL DAMP_QCOARSOL DAMP_QCOARDU DAMP_NL DAMP_NR DAMP_NI DAMP_NS DAMP_NG DAMP_NAIKT DAMP_NACCSOL DAMP_NACCINSOL DAMP_NCOARSOL DAMP_NCOARDU

$diff = DIFF_QV DIFF_QL DIFF_QR DIFF_QI DIFF_QS DIFF_QG DIFF_QAIKT DIFF_QACCSOL DIFF_QACCINSOL DIFF_QCOARSOL DIFF_QCOARDU DIFF_NL DIFF_NR DIFF_NI DIFF_NS DIFF_NG DIFF_NAIKT DIFF_NACCSOL DIFF_NACCINSOL DIFF_NCOARSOL DIFF_NCOARDU

$pwadv = PWADV_QV PWADV_QL PWADV_QR PWADV_QI PWADV_QS PWADV_QG PWADV_QAIKT PWADV_QACCSOL PWADV_QACCINSOL PWADV_QCOARSOL PWADV_QCOARDU PWADV_NL PWADV_NR PWADV_NI PWADV_NS PWADV_NG PWADV_NAIKT PWADV_NACCSOL PWADV_NACCINSOL PWADV_NCOARSOL PWADV_NCOARDU

$stepf = STEPF_QV STEPF_QL STEPF_QR STEPF_QI STEPF_QS STEPF_QG STEPF_QAIKT STEPF_QACCSOL STEPF_QACCINSOL STEPF_QCOARSOL STEPF_QCOARDU STEPF_NL STEPF_NR STEPF_NI STEPF_NS STEPF_NG STEPF_NAIKT STEPF_NACCSOL STEPF_NACCINSOL STEPF_NCOARSOL STEPF_NCOARDU

$tvdadv = TVDADV_QV TVDADV_QL TVDADV_QR TVDADV_QI TVDADV_QS TVDADV_QG TVDADV_QAIKT TVDADV_QACCSOL TVDADV_QACCINSOL TVDADV_QCOARSOL TVDADV_QCOARDU TVDADV_NL TVDADV_NR TVDADV_NI TVDADV_NS TVDADV_NG TVDADV_NAIKT TVDADV_NACCSOL TVDADV_NACCINSOL TVDADV_NCOARSOL TVDADV_NCOARDU

$fppdefs{?} = U_ACTIVE V_ACTIVE W_ACTIVE ESSAI ENFORCE_THREAD_SAFETY __DARWIN $buoy $damp $diff $pwadv $stepf $tvdadv
$cppdefs{?} = __DARWIN _XOPEN_SOURCE=700 ENFORCE_THREAD_SAFETY


############################################
# REFERENCE FLAGS FOR CONDITIONAL COMPILATION

#$buoy = BUOY_QV BUOY_QL BUOY_QR BUOY_QI BUOY_QS BUOY_QG BUOY_QAIKT BUOY_QACCSOL BUOY_QACCINSOL BUOY_QCOARSOL BUOY_QCOARDU BUOY_NL BUOY_NR BUOY_NI BUOY_NS BUOY_NG BUOY_NAIKT BUOY_NACCSOL BUOY_NACCINSOL BUOY_NCOARSOL BUOY_NCOARDU

#$damp = DAMP_QV DAMP_QL DAMP_QR DAMP_QI DAMP_QS DAMP_QG DAMP_QAIKT DAMP_QACCSOL DAMP_QACCINSOL DAMP_QCOARSOL DAMP_QCOARDU DAMP_NL DAMP_NR DAMP_NI DAMP_NS DAMP_NG DAMP_NAIKT DAMP_NACCSOL DAMP_NACCINSOL DAMP_NCOARSOL DAMP_NCOARDU

#$diff = DIFF_QV DIFF_QL DIFF_QR DIFF_QI DIFF_QS DIFF_QG DIFF_QAIKT DIFF_QACCSOL DIFF_QACCINSOL DIFF_QCOARSOL DIFF_QCOARDU DIFF_NL DIFF_NR DIFF_NI DIFF_NS DIFF_NG DIFF_NAIKT DIFF_NACCSOL DIFF_NACCINSOL DIFF_NCOARSOL DIFF_NCOARDU

#$pwadv = PWADV_QV PWADV_QL PWADV_QR PWADV_QI PWADV_QS PWADV_QG PWADV_QAIKT PWADV_QACCSOL PWADV_QACCINSOL PWADV_QCOARSOL PWADV_QCOARDU PWADV_NL PWADV_NR PWADV_NI PWADV_NS PWADV_NG PWADV_NAIKT PWADV_NACCSOL PWADV_NACCINSOL PWADV_NCOARSOL PWADV_NCOARDU

#$stepf = STEPF_QV STEPF_QL STEPF_QR STEPF_QI STEPF_QS STEPF_QG STEPF_QAIKT STEPF_QACCSOL STEPF_QACCINSOL STEPF_QCOARSOL STEPF_QCOARDU STEPF_NL STEPF_NR STEPF_NI STEPF_NS STEPF_NG STEPF_NAIKT STEPF_NACCSOL STEPF_NACCINSOL STEPF_NCOARSOL STEPF_NCOARDU

#$tvdadv = TVDADV_QV TVDADV_QL TVDADV_QR TVDADV_QI TVDADV_QS TVDADV_QG TVDADV_QAIKT TVDADV_QACCSOL TVDADV_QACCINSOL TVDADV_QCOARSOL TVDADV_QCOARDU TVDADV_NL TVDADV_NR TVDADV_NI TVDADV_NS TVDADV_NG TVDADV_NAIKT TVDADV_NACCSOL TVDADV_NACCINSOL TVDADV_NCOARSOL TVDADV_NCOARDU
